.title {
    margin: 20px 0px 0px;
}

#login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

#submit-button {
    margin: 10px 0px 0px;
}