@import 'tailwind.css';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* text-rendering: optimizelegibility; */
  font-family:
    "Segoe UI", "Helvetica", sans-serif;
  letter-spacing: 0.025em;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#app {
  margin: 0 auto;
  padding: 5rem 2rem;
  font-weight: normal;
  max-width: 40rem;
  width: 100%;
}