name: Deploy to DigitalOcean Kubernetes
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Install kubectl
        uses: azure/setup-kubectl@v1

      - name: Install Kompose
        run: |
          curl -L https://github.com/kubernetes/kompose/releases/download/v1.26.0/kompose-linux-amd64 -o kompose
          chmod +x kompose
          sudo mv ./kompose /usr/local/bin/kompose

      - name: Save DigitalOcean kubeconfig
        run: doctl kubernetes cluster kubeconfig save ${{ secrets.CLUSTER_NAME }}

      - name: Convert docker-compose to Kubernetes manifests
        working-directory: ./backend
        run: |
          mkdir -p k8s-manifests
          kompose convert -f docker-compose.yml -o k8s-manifests

      - name: Modify PVC files and web-service.yaml
        working-directory: ./backend/k8s-manifests
        run: |
          for file in *-persistentvolumeclaim.yaml; do
            sed -i 's/storageClassName: .*/storageClassName: do-block-storage/' "$file"
          done
          sed -i '/type: ClusterIP/c\  type: NodePort' web-service.yaml
          sed -i '/ports:/,/^[^ ]/c\  ports:\n    - port: 80\n      targetPort: 80\n      nodePort: 30009' web-service.yaml

      - name: Deploy to DigitalOcean Kubernetes
        working-directory: ./backend/k8s-manifests
        run: |
          kubectl apply -f .
          kubectl get services -o wide

      - name: Get Node External IP
        run: |
          echo "Node External IP:"
          kubectl get nodes -o wide
