name: Deploy to DigitalOcean Kubernetes
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Deploy to DigitalOcean Kubernetes
        working-directory: ./backend/k8s-manifests
        run: |
          kubectl apply -f .
          kubectl get services -o wide

      - name: Get Node External IPs and Ports
        run: |
          echo "Node External IPs:"
          kubectl get nodes -o wide
          echo "Web Service Details:"
          kubectl get svc web -o yaml
